html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
main {
  margin: 0;
  padding: 0;
  background-color: var(--color001);
  display: var(--flex);
  justify-content: space-between;
  height: 100%;
}

.section1 {
  width: var(--width5);
  // border: 2px solid blue;
  height: 100%;
}
.section2 {
  width: var(--width5);
  // border: 2px solid red;
  height: 100%;
}
.section2 img {
  width: var(--width5);
  height: 100%;
  object-fit: cover;
}
.data {
  width: var(--width5);
  max-width: 50%;
  margin: auto;
  text-align: center;
  height: 55%;
  line-height: 2.7;
}

.dots,
.dots img {
  width: var(--width5);
}

input[type="text"] {
  transform: scale(1);
  width: 100%;
  border-radius: 30px;
  margin-bottom: 10px;
  outline: none;
  border: none;
}

.text {
  padding-top: 18px;
  padding-bottom: 7px;
  font-size: 14px;
}
button {
  width: 100%;
  // border: none;
  // border-radius: 20px;
}
.sign-up-text {
  font-size: 10px;
  float: right;
}

.sign-in {
  background-image: linear-gradient(to right, #ff8a00, #ffc000);
  border-radius: 30px;
  border: none;
}
