@forward "boilerplate";
@forward "typography";
@forward "colors";

:root {
  --imgsize: 80%;
  --flex: flex;
  --width1: 20%;
  --width2: 40%;
  --width3: 60%;
  --width4: 80%;
  --width5: 100%;
  --font1: 14px;
}
